.fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
    background-color: rgba(255, 198, 40, 0.793);
    height: 60px;
    border-radius: 15%;
    color: black;
}

.fab:hover {
    background-color: rgba(248, 186, 15, 0.793);
}

.update {
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.update:hover {
    transition: 0.4s;
    background-color: rgba(255, 198, 40, 0.793);
}

.delete {
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.delete:hover {
    transition: 0.4s;
    background-color: rgba(255, 64, 64, 0.756);
}

h1 {
    line-height: 1.6rem;
    margin-bottom: 0px;
}

.title {
    margin: 25px;
}

.card {
    margin: 15px;
    overflow-x: hidden;
}

.cardContent {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    width: 100%;
    grid-column-gap: 10em; 
}


@media (max-width: 500px) {
    mat-card-actions {
        justify-content: center;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        gap: 10px;
    }
}

#companyName {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: large;
}

#devicesName {
    font-weight: bold;
}